* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: azure;
}

#container {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    background-color: white;
    box-shadow: 0 0 3em #cdcdcd;
}

.row {
    display: flex;
    flex: 1;
}

.cell,
#clear,
#backspace {
    flex: 1;
    font-size: large;
    background-color: transparent;    
}

.row-display {
    display: flex;
    flex: none;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(223, 217, 217, 0.911);
    color: black;
    border-bottom: 2px solid black;
    font-size: 1.5em;
}

button:hover,
#clear:hover,
#backspace:hover {
    background: #cdcdcd;
}

button:active {
    box-shadow: 0 0 20px #cdcdcd;
}

