* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: azure;
}

#container {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    background-color: black;
    box-shadow: 0 0 3em #cdcdcd;
    padding: 5px;
    gap: 2px;
}

.row {
    display: flex;
    flex: 1;
    gap: 2px;
}

.cell,
#clear,
#backspace {
    flex: 1;
    font-size: 0.6em;
    border-radius: 5%;
    border: none;
    margin: 1px;
    font-weight: 600;
}

.number,
#operate {
    background-color: #217C7E;
}

#clear,
#backspace {
    background-color: dodgerblue;
}

.operator {
    background-color: #FF8F1F;
}

.row-display {
    display: flex;
    flex: none;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #b2b9b7;
    color: black;
    font-size: 1.5em;
    margin-bottom: 5px;
}

button:hover,
#clear:hover,
#backspace:hover,
#operate:hover {
    background: white;
}

button:active {
    box-shadow: 0 0 20px #cdcdcd;
}

